/*Overskrift*/
h1 {
  color: #0559a2;
  text-align: center;
  font-family:Impact;
  margin: 1;
}

/*Meny*/
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #0559a2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #0559a2;
  color: #ffffff;
}

.topnav a.active {
  background-color: #0559a2;
  color: #ffffff;
}

/*Bakgrunn*/
body {
  background-color: #edf3f8;
  margin: 0;
  padding: 0;
}

/*Bølge greien*/
.Bolge {
overflow: hidden;
background-size: cover;
}

/*Overskrift*/
p1 {
  color: #0559a2;
  font-family: verdana;
  font-size: 40px;
}
/*Tekst*/
p {
  color: #000000;
  float: left;
  font-family: verdana;
  font-size: 20px;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/*Grids*/
.col-1 {width: 25%;}
  .col-2 {width: 75%;}
  .Bolge {width: 100%;}
  .col-4 {width: 50%;}
  .col-5 {width: 45%;}