body{
    background-color: #edf3f8;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
margin: 0%;
}



.main {
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: -1;
}



/*Topp*/
.topp {
grid-column: 1/13;
grid-row: 1/2;
display:grid;
grid-row-gap: 5px;
grid-column-gap: 30px;
max-height: 160px;
min-height: 200px;
}



/*Vaapen*/
    .vaapen {
    grid-column: 1/2;
    grid-row: 1/1;
    margin-left: 20px;
}



/*Topp Meny*/
    .topmeny {
    overflow: hidden;
    grid-column: 2/7;
    grid-row: 1/1;
    z-index: 1;
}
      
    .topmeny a {
    color: #0559a2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    z-index: 1;
}
      
    .topmeny a:hover {
    background-color: #0559a2;
    color: #edf3f8;
    z-index: 1;
}
      
    .topmeny a.active {
    background-color: #0559a2;
    color: #edf3f8;
    z-index: 1;
}

/*Dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
    color: #0559a2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    z-index: 1;
  }

  .dropbtn {
    padding: 14px 16px;
    border: 0;
    background-color: #edf3f8;
    color: #0559a2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    z-index: 1;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    overflow: visible;
    box-shadow: 10px 10px 5px grey;
  }
  
  .dropdown-content a {
    color: #0559a2;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    z-index: 1;
  }
  
  .dropdown-content a:hover {background-color: #0559a2;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #0559a2; color: #edf3f8;}



/*Bolge*/
    .bolge {
    grid-column: 1/13; /*Column grids*/
    overflow: hidden;
    height: 2cm;
    max-width: 100%;
    z-index: 0;
}



/*Bildekarusell*/
.Bildekarusell {
    animation-name: Bildekarusell; /*animasjons navn*/
    animation-duration: 20s; /*Hvor lenge hele animasjonen skal vare*/
    animation-iteration-count: infinite; /*Animasjonen skal vare evig*/
    grid-column: 1/13; /*Column grids*/
    margin-left: 25px;
    /*Størrelse*/
    min-width: 1200px;
    max-width: 1200px;
    min-height: 400px;
    max-height: 400px;
    animation-delay: 2s;
}

@keyframes Bildekarusell
/*Tid som hver animasjon har*/ {
25%   {background-image: url(../Bilder/bilde_1.png);}
50%  {background-image: url(../Bilder/bilde_2.png);}
75%   {background-image: url(../Bilder/bilde_3.png);}
100%  {background-image: url(../Bilder/bilde_4.png);}
}



.p1 {
    text-align: left;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}