h1 {
  color: #0559a2;
  text-align: center;
  font-family:Impact;
  margin: 1;
  }
  
  .topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #0559a2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #0559a2;
    color: #ffffff;
  }
  
  .topnav a.active {
    background-color: #0559a2;
    color: #ffffff;
  }
  
  body {
  background-color: #edf3f8;
  }
  
  div {        
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }